@CHARSET "UTF-8";
h1 i{
	color:red;
}
h3 {
	color:red;
	font-family: 楷体；
	font-size:30px;
}
<!--class 样式表-->
    .pp{
    color:red;
    font: 楷体;
    }
    p.p{
    color:blue;
    font: 黑体;
    }
 
    #id003{
    background-color: yellow;
    }
    p#id002{
    background-color: yellow;
    } 
    p i{
    color:blue;
    }  
    p b{
    color:red;
    }
    ol li{
    color:red;
    }
    ul li{
    color:blue;
    }