@CHARSET "UTF-8";
   
class 样式表

    .pp{  
    font: 楷体 red;
    }
    p.p{
    font: 黑体 blue;
    }
 <!--id 样式表 -->
 
    #id003{
    background-color: yellow;
    }
    p#id002{
    background-color: yellow;
    } 
 <!--情景标签 -->  
  
    p b{
    color:red;
    }
    ol li{
    color:red;
    }
    
  
  span{
  font-style: italic;  
    }
     div{
  font-family:楷体;
  font-size: 50px;  
  } 